<div class="joblist_wrapper">
	<ul class="joblist">
		<li ui-sref="jobDetail({'id':job._id})" class="joblist_item" ng-repeat="job in jobs">
  		<p class="joblist_name">
  			<span class="joblist_title" ng-bind="job.name"></span>
  			<span ng-if="job.hot" class="joblist_hot">HOT</span>
  		</p>
  		<p class="joblist_city" ng-bind="job.city"></p>
  		<p class="joblist_addition">
  	<span class="joblist_headcount" ng-bind="job.headcount+'人'"></span>
  	<span class="joblist_time" ng-bind="'发布时间: '+job.meta.updateAt|limitTo:16"></span>
  		</p>
  	</li>
  </ul>
</div>
