<div ng-show="menuDisplay">
	<div class="menu">
  <ul>
    <li ui-sref-active="active" ui-sref="main">首页</li>
    <li ui-sref-active="active" ui-sref="job({'type':'0'})">社会招聘</li>
    <li ui-sref-active="active" ui-sref="job({'type':'1'})">实习生招聘</li>
    <li ui-sref-active="active" ui-sref="school">校园招聘</li>
    <li ui-sref-active="active" ui-sref="company">公司介绍</li>
    <li ui-sref-active="active" ui-sref="my">个人中心</li>
    <li ui-sref-active="active" ui-sref="login">登录</li>
  </ul>
	</div>
	<div class="menu_mask"></div>
</div>
