.foot {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid #ddd;
  background-color: #fff;
  font-size: 0;
  &>div{
    display: inline-block;
    height: 50px;
  }
  >.jobdetail_operation{
    width: 40%;
    padding-top: 12px;
    text-align: center;
    &>i{
      font-size: 25px;
      color: $ghsPurple;
      margin: 0 10%;
    }
  }
  >.jobdetail_apply{
    width: 60%;
    background-color: $ghsPurple;
    vertical-align: top;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
  }
}
