.job_detail_description{
  margin-top: 35px;
  padding: 0 15px;
  &>p{
    font-size: 18px;
    color: #333;
    padding-left: 10px;
    border-left: 3px solid $ghsPurple;
    line-height: 1;
  }
  &>ul{
    padding-left: 15px;
    font-size: 0;
    &>li{
      margin-top: 18px;
      font-size: 14px;
      color: #999;
      line-height: 1.5;
      list-style-type: disc;
    }
  }
}
