.jobfilter{
    box-sizing: border-box;
    position: absolute;
    z-index: 90;
    top: 106px;
    height: 39px;
    width: 100%;
    padding: 9px 0;
    border-bottom: 1px solid #ddd;
    font-size: 0;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.jobfilter_key{
    display: inline-block;
    width: 33.33%;
    height: 20px;
    font-size: 14px;
    color: #333;
    text-align: center;
    border-right: 1px solid #eee;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    span{
        line-height: 20px;
        position: relative;
        margin-left: -10px;
        &:after{
            content: '';
            height: 0;
            width: 0;
            border: 4px solid transparent;
            border-top-color: #333;
            position: absolute;
            top: 6px;
            right: -12px;
        }
    }
    &.active{
        color: $ghsPurple;
        span:after{
            border-top-color: transparent;
            border-bottom-color: $ghsPurple;
            top: 1px;
        }
    }
}
.jobfilter_popup{
    position: absolute;
    z-index: 90;
    top: 39px;
    left: 0;
    width: 100%;
    background-color: #fff;
}
.location_popup,.type_popup{
    .jobfilter_category{
        width: 100%;
    }
}
.jobfilter_category{
    &>p{
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        color: #333;
        background-color: #eee;
        padding-left: 15px;
        &.active{
            color: $ghsPurple;
            background-color: #fff;
        }
    }
}
.jobfilter_mask{
    position: fixed;
    z-index: 80;
    top: 145px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.4);
}