@font-face {
  font-family: 'recruit-icon';
  src:  url('../fonts/recruit-icon.eot?w7kz8y');
  src:  url('../fonts/recruit-icon.eot?w7kz8y#iefix') format('embedded-opentype'),
  url('../fonts/recruit-icon.ttf?w7kz8y') format('truetype'),
  url('../fonts/recruit-icon.woff?w7kz8y') format('woff'),
  url('../fonts/recruit-icon.svg?w7kz8y#recruit-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'recruit-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_lift:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e986";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-share2:before {
  content: "\ea82";
}
